<!doctype html>
<html class="no-js" lang="zh-cn">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
		<title><%=describe.name+' - '+config.title%></title>
		<meta name="keywords" content="eedoc">
		<meta name="generator" content="eedoc" />
		<meta name="description" content="<%=config.description%>" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="renderer" content="webkit">
		<meta name="applicable-device" content="pc">
		<meta name="robots" content="all">
		<link rel="shortcut icon" href="favicon.png" type="image/x-icon">
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="https://at.alicdn.com/t/font_1x4nnkd5oh6w29.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="css/base.css">
		<script src="js/common.js"></script>
		<script src="js/modernizr-2.8.3.min.js"></script>
	</head>
	<body>
		<div class="header">
			<div class="wrapper" style=" position: relative;">
				<div class="nav">
					<ul>
						<%if(config.so&&config.so.topLinks&&config.so.topLinks.length>0){%>
							<%config.so.topLinks.forEach(function(l,i){%>
								<%if(i>0){%>
									<li><span></span></li>
								<%}%>
								<li>
									<a href="<%=l.link%>" target="<%=l.target%>">
										<%=l.name%>
									</a>
								</li>	
							<%})%>
						<%} else {%>
							<li>
								<a href="<%=config.home%>">
									<%=config.title%>
								</a>
							</li>									
						<%}%>
					</ul>
				</div>
				<div class="right-menu"> <span class="wxgzh"></span> </div>
			</div>
		</div>
		<div class="main" style="min-height: 30rem;">
			<div class="wrapper">
				<div class="logo">
					<a href="#" title="eedoc">
						<img src="./img/logo.png" border="0" alt="eedoc" width="180px">
					</a>
				</div>
				<div class="search">
					<div class="search-type clearfix">
						<a id="st_0" href="?st=0" data-type="0">网页</a>
						<a id="st_1" href="?st=1" data-type="1">视频</a>
						<a id="st_2" href="?st=2" data-type="2">电影</a>
						<a id="st_3" href="?st=3" data-type="3">优惠券</a>
					</div>
					<div class="search-form clearfix">
						<form action="javascript:search();" method="get" onsubmit="return searchSubmit('wd')">
							<input type="hidden" id="stname" name="st" value="0">
							<input type="search" name="wd" class="wd f-fl" id="wd" placeholder="" maxlength="30" autocomplete="off">
							<input type="submit" class="sbtn f-fl" value="搜 索">
						</form>
					</div>
				</div>&nbsp;&nbsp;&nbsp;
				<div class="tbkhotindex" style="margin:0 auto;text-align: center;margin-bottom:-25px;margin-top:-10px;"></div>
				<div class="hot_index">
					<div class="slideTxtBox" style="margin: 30px auto;">
						<%var renderList=describe._render;%>
						<%if(describe._render&&describe._render.length>=7){%>
							<%renderList=[];%>
							<%var other={"category":"其他","links":[]};%>
							<%describe._render.forEach(function(c, i) {%>
								<%if(i<7){%>
									<%renderList.push(c);%>
								<%} else {%>
									<%other.links=other.links.concat(c.links)%>
								<%}%>
							<%})%>
							<%renderList.push(other);%>
						<%}%>
						<div class="hd">
							<ul>
								<%if(renderList&&renderList.length>0){%>
									<%renderList.forEach(function(c, i) {%>
										<li><%=c.category%></li>
									<%})%>							
								<%}%>
							</ul>
						</div>
						<div class="bd">
							<%if(renderList&&renderList.length>0){%>
								<%renderList.forEach(function(c, i) {%>
									<ul id="ul-<%=i+1%>" class="nav_list">
										<%c.links.forEach(function(p, j) {%>
											<li class="nav_list_item">
												<span class="num-top<%=j+1%>"><%=j+1%></span>
												<a href="<%=p.link%>" target="<%=p.target?p.target:'_blank'%>" title="<%=p.desc%>"><%=p.name%></a>
											</li>
										<%})%>
									</ul>
								<%})%>					
							<%}%>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="wrapper">
				<div class="sm" style="margin-top: 13px;">
					<h1 style="display: inline;font-size: 14px;"><%=config.title%></h1> 网址导航
					<br>
				</div>
				<div class="footnav"> <a href="#"><%=config.title%></a> <span>Copyright © <%=config.cname%></span> </div>
			</div>
		</div>
		<script src="https://apps.bdimg.com/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="js/jquery.autocomplete.min.js"></script>
		<script src="https://apps.bdimg.com/libs/jquery-lazyload/1.9.5/jquery.lazyload.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/base.js?v=20190916"></script>
		<script>
			$(function() {
				$(".gzhover").mouseover(function() {
					$(this).find(".ewmbox").show();
				}).mouseout(function() {
					$(this).find(".ewmbox").hide();
				})
			})
		</script>
		<script src="js/jquery.SuperSlide.2.1.1.js"></script>
		<script type="text/javascript">
			$(function() {
				
				var oldWord = $('#wd').val();
				$('#wd').val("").focus().val(oldWord);
				var tempType = getQueryString("st");
				
				autoComplete("wd", tempType);
				
				$(".slideTxtBox").slide();
				
				if (tempType == "") {
					$("#st_0").addClass("on");
				} else {
					$('#stname').val(tempType);
					$("#st_" + tempType).addClass("on");
				}
				
				$(window).resize(function() {
					resizeFoot();
				});
				resizeFoot();
			});

			function resizeFoot() {
				var currentHeight = $(window).height();
				var minHeight = 830;
				if (currentHeight <= minHeight) {
					$(".footer").css("margin-top", "110px");
				} else {
					$(".footer").css("margin-top", (currentHeight - minHeight) + "px");
				}
			}
		</script>

	</body>
</html>
